// @homeUrl: "http://carrandie.net/";
@homeUrl: "";

/*
$rembase:     14;
$line-height: 24;
  font-size: 16px
  font-size: 1.142857143rem; (16 / $rembase)
  line-height: 1.5; ($line-height / 16)
*/
@remBase: 14px;
@lineHeight: 24;
@lh: 24px;

.font(@size){
  font-size: @size;
  font-size: unit(@size/@remBase,rem);
  line-height: @lineHeight / unit(@size);
}
