@import (reference) "_variables";
@import (reference) "_helper";
@import (reference) "_reset";
@import "_fonts";


body{
  background-color: white;
  font-size: 22px;
  font-family: verdana, sans-serif;
  color: #222;
}

a{
  text-decoration: none;
  color: #222;
  &:hover,
  &:focus{
    color: teal;
  }
}

.profil{
  font-size: 80px;
  text-align: center;
  margin: 1em auto;
  ul{
    li,a {
      display: inline-block;
    }
  }
}
